.contact {
  padding: 60px 0px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dark {
  background-color: #494949;
  color: #fff;
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact p {
  font-size: 18px;
}
